ul {
    font-size: 110%;
    background-color: #e7e3f6;
    border-radius: 20px;
    padding: 30px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
@media only screen and (max-width: 576px) {
    ul {
        width: 95vw;
    }
}
