<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>DDUC Library</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="layout_style.css" />
        <link rel="stylesheet" href="../common.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <style></style>
    </head>
    <body style="background-color: rgb(253, 243, 255)">
        <div
            id="whole"
            style="
                background-color: rgb(255, 255, 255);
                display: block;
                margin-left: auto;
                margin-right: auto;
            "
        >
            <nav class="navbar navbar-light bg-light">
                <img
                    src="/Assets/logo.png"
                    class="d-inline-block align-top logo"
                />
                <div style="margin-left: auto; margin-right: auto">
                    <a class="navbar-brand" href="#">
                        <span id="cname"
                            >DEEN DAYAL UPADHYAYA COLLEGE LIBRARY</span
                        >
                        <span id="cname_m"
                            >DEEN DAYAL UPADHYAYA<br />
                            COLLEGE LIBRARY</span
                        >
                    </a>
                </div>
            </nav>
            <div id="navbar" class="row no-gutters">
                <div class="nav-options col-3">
                    <a href="/index.html" style="text-decoration: none"
                        ><p class="nav-text">Home</p></a
                    >
                </div>
                <div class="nav-options col-3">
                    <a
                        href="/eresources/eresources.html"
                        style="text-decoration: none"
                        ><p class="nav-text">E-Resources</p>
                    </a>
                </div>
                <div class="nav-options col-3">
                    <a href="/qlinks/qlinks.html" style="text-decoration: none"
                        ><p class="nav-text">Quick Links</p>
                    </a>
                </div>
                <div class="nav-options col-3">
                    <a
                        href="/Contact/contact.html"
                        style="text-decoration: none"
                        ><p class="nav-text">Contact Us</p>
                    </a>
                </div>
            </div>
            <p class="ser">LAYOUT</p>
            <div class="row rounded_bg mx-auto">
                <div class="col-sm-2 row_head">Third floor</div>
                <div class="col-sm-5 row_content">
                    <p>
                        <strong>Stack Area</strong> - It houses subject-wise
                        text-books and other books arranged on open racks for
                        circulation among students.
                    </p>
                    <p>
                        <strong>Circulation Desk</strong> - All the issue-return
                        transactions take place here. Reference query, issue of
                        library membership card, clearance, late-fine etc. are
                        all dealt at this place.
                    </p>
                    <p>
                        <strong>OPAC Terminal</strong> - Each floor of the
                        library has one computer system connected on library
                        intranet from which library database of books and
                        journals can be browsed and searched through the library
                        client software. Students can use this terminal to look
                        into their library account, late-fine accrued, and for
                        making their entire search query with respect to titles,
                        copies & their locations, new arrivals etc.
                    </p>
                    <p>
                        <strong>Processing Area</strong> - This area is
                        exclusively meant for library staff from where all the
                        back- end operations are done such as acquisition of
                        books, processing of books and other administrative
                        work.
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="../Assets/layout_1.png" class="layout_pic" />
                    <img src="../Assets/layout_2.png" class="layout_pic" />
                </div>
            </div>
            <div class="row rounded_bg mx-auto">
                <div class="col-sm-2 row_head">Fourth floor</div>
                <div class="col-sm-5 row_content">
                    <p>
                        <strong>Reference Collection</strong> - It is comprised
                        primarily of reference books and single copy of
                        text-books arranged subject-wise in book- cases kept
                        under closed access.
                    </p>
                    <p>
                        <strong>Computer Hub</strong> - The library also houses
                        a centralized computing infrastructure comprising of a
                        network of 21 PC connected to University of Delhi
                        through optical fiber link. Students can browse Internet
                        and access all the e-resources such as e-books,
                        e-journals, other databases subscribed by the University
                        of Delhi. Students can use this facility for preparing
                        their assignments/ project report etc. Print-outs are
                        available to students on payment @ Re. 1.00 per page
                        through POS machine.
                    </p>
                    <p>
                        <strong
                            >Specialized reading services for Visually
                            Challenged</strong
                        >
                        - It has Document capture scanner with screen reading
                        software.
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="../Assets/layout_3.png" class="layout_pic" />
                </div>
            </div>
            <div class="row rounded_bg mx-auto">
                <div class="col-sm-2 row_head">Fifth floor</div>
                <div class="col-sm-5 row_content">
                    <p>
                        <strong>Reading Hall</strong> - It has capacity to
                        accommodate around 200 students in the seating area.
                    </p>
                    <p>
                        <strong>Text-book Consultation</strong> - This section
                        has essential prescribed text-books for consultation by
                        students.
                    </p>
                    <p>
                        <strong
                            >Periodical/ Magazine & Newspaper Display</strong
                        >
                        - The racks display magazines & journals subscribed by
                        the library. These are arranged alphabetically for easy
                        retrieval. As many as 15 prominent national dailies are
                        also available here.
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="../Assets/layout_4.png" class="layout_pic" />
                    <img src="../Assets/layout_5.png" class="layout_pic" />
                </div>
            </div>
        </div>
    </body>
</html>
