.row_head {
    font-size: 120%;
    font-weight: 700;
}
.row_content {
    font-size: 105%;
    color: rgb(66, 66, 66);
}
.layout_pic {
    display: block;
    margin: 20px auto 20px auto;
    width: 19vw;
}
.center {
    padding-left: 50px;
    width: 98vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rounded_bg {
    background-color: #dfdbef;
    border-radius: 20px;
    margin: 40px;
    padding: 2%;
    width: 70vw;
    margin-bottom: 0px;
}
#whole {
    padding-bottom: 40px;
}
@media only screen and (max-width: 576px) {
    .rounded_bg {
        width: 90vw;
    }
    .layout_pic {
        width: 75vw;
    }
}
