.row_head {
    font-size: 130%;
    font-weight: 700;
    color: rgb(212, 72, 225);
}
.col-4 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.row_content {
    font-size: 120%;
    color: rgb(212, 72, 225);
}
.row_pic {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.layout_pic {
    display: block;
    margin: 20px auto 20px auto;
    width: 30vw;
}

.row_head,
.row_content {
    padding-left: 50px;
    width: 98vw;
}
.table_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding: 10px;
}

.table_head {
    background-color: rgb(152, 35, 142);
}

@media only screen and (max-width: 576px) {
    .row_head {
        font-size: 100%;
    }
    .row_content {
        font-size: 80%;
    }
    .layout_pic {
        width: 50vw;
    }
    .table_wrapper {
        width: 80vw;
    }
}
