html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0%;
    padding: 0%;
}
.logo {
    width: 80px;
}
#cname {
    color: rgb(175, 63, 175);
    text-align: center;
    font-family: Calibri;
    font-size: 200%;
}

.nav-options {
    margin: 0%;
    font-size: 105%;
    float: left;
}
.nav-text:hover {
    background-color: rgb(168, 60, 168);
}
.nav-text {
    background-color: rgb(129, 46, 129);
    color: white;
    padding: 2%;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0%;
    border: 1px;
    border-style: solid;
}
.ser {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    font-weight: 700;
    color: rgb(212, 72, 225);
    margin-top: 20px;
}
.row_head {
    font-size: 120%;
    font-weight: 700;
    color: rgb(212, 72, 225);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.row_content {
    font-size: 105%;
    color: rgb(212, 72, 225);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.pad {
    margin-top: 20px;
    margin-bottom: 20px;
}
.service_img {
    margin: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.center {
    position: relative;
    left: 50px;
}
.img_mobile {
    display: none;
}
@media only screen and (max-width: 730px) {
    #cname {
        font-size: 150%;
    }
    .img_mobile {
        display: block;
        width: 60vw;
        margin: 50px auto 50px auto;
    }
    .service_img {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    #cname {
        font-size: 100%;
    }
    .logo {
        width: 50px;
    }
}
