.row_head {
    font-size: 120%;
    font-weight: 700;
}
.row_content {
    font-size: 105%;
    color: rgb(66, 66, 66);
}
.pad {
    margin-top: 20px;
    padding: 2%;
    margin-bottom: 20px;
    background-color: #dfdbef;
    border-radius: 20px;
}
.service_img {
    margin: 20px;
    width: 70%;
}
.center {
    position: relative;
    left: 50px;
}
.img_mobile {
    display: none;
}
@media only screen and (max-width: 1600px) {
    .service_img {
        width: 60%;
        margin-left: 30px;
    }
}
@media only screen and (max-width: 730px) {
    .img_mobile {
        display: block;
        width: 60vw;
        margin: 50px auto 50px auto;
    }
    .service_img {
        display: none;
    }
    .col-4 {
        width: 0px;
    }
    .pad {
        position: relative;
        left: 4vw;
    }
}
