.do {
    font-size: 120%;
    font-weight: 500;
    color: rgb(146, 49, 155);
    margin-left: 15vw;
    margin-right: 15vw;
}
.list {
    font-size: 110%;
    color: rgb(146, 49, 155);
    margin-left: 17vw;
    margin-right: 17vw;
    margin-bottom: 50px;
}
#whole {
    padding-bottom: 50px;
}
